<%- include ('./common/header'); -%>
<%- include ('./common/topMenu'); -%>

<link rel='stylesheet' href='/stylesheets/board.css' />

<div class="boardContainer">
    <div class="page-head"><%= title %></div>
        <% if(session && session.isLogin) { %> <!-- 로그인 상태 확인해서 버튼 표시-->
            <a href="/board/write"><button id="btn">NEW</button></a>
        <% } %>
    <br><br>
    <table>
        <tr style="text-align:center">
            <th>번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>수정일</th>
            <th>등록일</th>
        </tr>
        <%
        for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
            if(i > length){
                i++;
            }else{
                var data = rows[i]
            %>
        <tr style="text-align:center">
            <td><%= i + 1 %></td>
            <td><%= data.board_writer %></td>
            <td><a href="/board/read/<%= data.board_seq %>"><%= data.board_title %></a></td>
            <td><%= data.modify_date %></td>
            <td><%= data.insert_date %></td>
        </tr>
            <% }
        }
        %>
    </table>
    <br><br>
    <tr>
        <td colspan="6">
            <% for(var j = 0; j < length / page_num; j++) { %>
                <span>[<a href="/board/page/<%= j + 1 %>"><%= j + 1 %></a>]</span>
            <% } %>
        </td>
    </tr>
</div>

<%- include ('./common/footer'); -%>