<%- include ('./common/header'); -%>
<%- include ('./common/topMenu'); -%>

<link href="/stylesheets/movie_list.css" rel="stylesheet" type="text/css">
<div class="movieListContainer">
    <div class="page-head">
        <div>
            영화리스트
        </div>
        <div class="movie-list-orderby">
            <select>
                <option value="name">
                    이름 순
                </option>
                <option value="insert-date">
                    출시일 순
                </option>
            </select>
        </div>
    </div>

    <div class="movie-page-index">
        <% if(startPage-1 > 0) { %>
            <a id="link-index" href="/movie/list?page=<%=startPage-1%>">
                이전
            </a>
        <% } %>
        <% for (var i = startPage; i<= endPage; i++ ) {%>
            <% if( i == page) {%>
                <span id="index">
                    <%=i%>
                </span>
            <% } else {%>
                <a id="link-index" href="/movie/list?page=<%=i%>">
                    <%=i%>
                </a>
            <% } %>
        <% } %>
        <% if(endPage+1 <= totalPage) { %>
            <a id="link-index" href="/movie/list?page=<%=endPage+1%>">
                다음
            </a>
        <% } %>
    </div>
    
    <div class="movie-list">
        <% for(var i = 0; i<movies.length; i++){ %>
        <article class="listing">
            <div class="movie-image">
                <% if (movies[i].image_url === "") { %>
                    <div class="movie-image-overlay"><%= movies[i].movie_title %></div>
                <% } %>
                    <img class="img" src="<%= movies[i].image_url %>" 
                    onError="this.onerror=null; this.src='/missing_poster.png';" >
            </div>
            <a class="movie-hover" href="<%= '/movie/detail?seq=' + movies[i].movie_seq %>">
                <%= movies[i].movie_title %>
            </a>
            <div class="movie-info">
                <div class="movie-title">
                        <%= movies[i].movie_title %>
                </div>
                <% if(movies[i].user_rating !== 0) { %>
                    <div class="movie-sub">
                        <%= '평점 : '+movies[i].user_rating %>
                    </div>
                <% } %>
                <div class="movie-desc">
                    <%= movies[i].movie_desc%>
                </div>
            </div>
            <script>
                </script>
        </article>
        <%}%>
    </div>

</div>